/* stilos del body */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* stilos del header  */
header {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 300px auto;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
}

header .logo {
    display: flex;
}

header .logo .logo_img {
    height: 50px;
    padding: 15px;
}

header .menu {
    color: #fff;
}

header .menu ul {
    float: right;
    list-style-type:none;
    position: relative;
    margin-right: 165px;
}

header .menu ul li {
    float: left;
    position:relative;
    margin-right: 25px;
    padding-top: 15px;
    font-size: 1.1em;
    font-weight: 500;
}

header .menu ul li a {
    text-decoration: none;
    color: #fff;
}

/* stilos del hero  */
.hero {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
}

.hero .text-hero {
    padding-top: 150px;
    padding-left: 75px;
}

.hero .text-hero p {
    color: #fff;
    width: 500px;
    padding: 25px 0 45px 35px;
    line-height: 1.5;
    font-size: 1.2em;
}

.hero .text-hero img {
    height: 100px;
    padding-left: 50px;
}

.hero .img-hero img {
    padding-top: 25px;
    height: 600px;
}

/* stilos del odin  */
.odin {
    padding: 90px 50px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.odin .text-odin {
    color: #2B4D89;
    padding-top: 150px;
    padding-left: 75px;
}

.odin .text-odin img {
    height: 100px;
    padding-left: 50px;
}

.odin .text-odin p {
    width: 500px;
    padding: 25px 0 45px 35px;
    line-height: 1.5;
    font-size: 1.2em;
}

.odin .img-odin {
    margin-left: 50px;
}

.odin .img-odin img {
    padding-top: 25px;
    height: 600px;
}

.planes {
    padding: 0px 50px;
    padding-top: 50px;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
}

.planes h1 {
    text-align: center;
    color: #fff;
    font-size: 2em;
}

.planes .planes_section {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 500px;
    grid-column-gap: 40px;
    justify-content: center;
    padding: 50px 0px;
}
.planes .planes_section .planes_box {
    border: 5px solid #2B4D89;
    border-radius: 10px;
    background: linear-gradient(#e8f1ff, #ffffff, #e8f1ff );
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    display: grid;
    grid-template-rows: 100px 100px 300px;
}

.planes_box .titulo {
    height: 100px;
}

.planes_box .titulo h1 {
    padding-top: 5px;
    color: #2B4D89;
}

.planes_box .precio {
    height: 100px;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.planes_box .precio h1 {
    margin-top: 20px;
    margin-bottom: 1px;
}

.planes_box .precio p {
    text-align: center;
    color: #fff;
    margin-top: 1px;
}