/* stilos del body */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1, p {
 margin: 0;
}

/* stilos del header  */
header {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 300px auto;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
}

header .logo {
    display: flex;
}

header .logo .logo_img {
    height: 50px;
    padding: 15px;
}

header .menu {
    color: #fff;
}

header .menu ul {
    float: right;
    list-style-type:none;
    position: relative;
    margin-right: 165px;
}

header .menu ul li {
    float: left;
    position:relative;
    margin-right: 25px;
    padding-top: 15px;
    font-size: 1.1em;
    font-weight: 500;
}

header .menu ul li a {
    text-decoration: none;
    color: #fff;
}

/* stilos del hero  */
.hero {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
}

.hero .text-hero {
    padding-top: 150px;
    padding-left: 75px;
}

.hero .text-hero p {
    color: #fff;
    width: 500px;
    padding: 25px 0 45px 35px;
    line-height: 1.5;
    font-size: 1.2em;
}

.hero .text-hero img {
    height: 100px;
    padding-left: 50px;
}

.hero .img-hero img {
    padding-top: 25px;
    height: 600px;
}

/* stilos del odin  */
.odin {
    padding: 90px 50px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.odin .text-odin {
    color: #2B4D89;
    padding-top: 150px;
    padding-left: 75px;
}

.odin .text-odin img {
    height: 100px;
    padding-left: 50px;
}

.odin .text-odin p {
    width: 500px;
    padding: 25px 0 45px 35px;
    line-height: 1.5;
    font-size: 1.2em;
}

.odin .img-odin {
    margin-left: 50px;
}

.odin .img-odin img {
    padding-top: 25px;
    height: 600px;
}

.planes {
    padding: 0px 50px;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
}

.planes h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    padding-top: 20px;
}

.planes .planes_section {
    display: grid;
    grid-template-columns: 250px 280px 250px;
    grid-template-rows: 600px;
    grid-column-gap: 40px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.planes .planes_section .planes_box {
    border: 5px solid #7397CF;
    border-radius: 10px;
    background: linear-gradient(#e8f1ff, #ffffff, #e8f1ff );
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    display: grid;
    grid-template-rows: 100px 100px 250px 100px;
    height: 550px;
    margin-top: 25px;
}

.planes .planes_section .box_principal {
    border: 5px solid #7397CF;
    border-radius: 10px;
    background: linear-gradient(#e8f1ff, #ffffff, #e8f1ff );
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    display: grid;
    grid-template-rows: 100px 100px 250px 100px;
}

.planes_box .titulo {
    height: 100px;
}

.box_principal .titulo {
    height: 100px;
}

.planes_box .titulo h1 {
    padding-top: 30px;
    color: #2B4D89;
}

.box_principal .titulo h1 {
    padding-top: 30px;
    color: #2B4D89;
}

.planes_box .precio {
    height: 100px;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.box_principal .precio {
    height: 100px;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.planes_box .precio p {
    text-align: center;
    color: #fff;
}

.box_principal .precio p {
    text-align: center;
    color: #fff;
}

.planes_box .caracteristicas {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-column-gap: 40px;
    justify-content: center;
    padding-top: 10px;
}

.box_principal .caracteristicas {
    display: grid;
    grid-template-rows: repeat(6, 55px);
    grid-column-gap: 40px;
    justify-content: center;
    padding-top: 10px;

}

.planes_box .caracteristicas p{
    text-align: center;
    border-bottom: 2px solid #2b4d8970;
    width: 200px;
    margin: 10px;
    color: #2b4d89cd;
}

.box_principal .caracteristicas p{
    text-align: center;
    border-bottom: 2px solid #2b4d8970;
    width: 200px;
    margin: 10px;
    color: #2b4d89cd;
}

.planes_box .button {
    text-align: center;
    padding-top: 25px;
}

.box_principal .button {
    text-align: center;
    padding-top: 55px;
}

.planes_box .button a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
    width: 150px;
    height: 30px;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}
.box_principal .button a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(70deg, #2B4D89 50%, #7397CF );
    width: 150px;
    height: 30px;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

